.checkbox {
  background-color: red;
}
.email {
  background-color: aqua;
}
.week {
  background-color: darkorange;
}
.time {
  background-color: hotpink;
  padding: 50px;
  margin: 30px;
}
.name {
  background-color: chocolate;
  font-family: cursive;
  padding-left: 50px;
}
.square {
  background-color: aquamarine;
  color: white;
  padding: 40px;
  padding-left: 200px;
  padding-right: 100px;
  margin: 30px;
}
.h1 {
  color: red;
}
.h2 {
  color: cadetblue;
}


git config --global user.email "deletobi653@gmail.com"
git config --global user.name "milliejr6"
